* {
  padding: 0;
  margin: 0;
}

 ul , li {
   list-style: none;
   display: block;
 }

body {
  font-family: 'Montserrat', sans-serif;
}

.white {
  color: #ffffff;
}

//header

header {
  padding-bottom: 300px;
  background-image: url(../img/image_background.png);
  background-repeat: no-repeat;
  background-position:  center top;
  color: #ffffff;
}

nav {
  a {
    text-decoration: none;
    color: #ffffff;
  }
}

.nav-item {
  margin-left: 20px;
}

.nav-item a {
  color: #ffffff;
  text-decoration: none;
  transition: .4s ease-in-out;
}


.nav-item a:after {
  display: block;
  content: '';
  height: 2px;
  width: 0%;
  background: #39b9ef;;
  transition: width 0.4s ease-in-out;
}

.nav-item a:hover {
  color: #39b9ef;
}

.nav-item a:hover:after,
.nav-item a:focus:after {
  color: #39b9ef;
  width: 100%;
}


.header__title {
  margin-top: 300px;

    h1 {
      font-size: 60px;
      font-weight: 700;

      span {
        color: #2ebaee;
      }
    }
    p {
      font-size: 24px;
    }

   .fa-bars {
     color: #ffffff;
   }

  .btn {
    margin-top: 60px;
    padding: 19px 57px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 50px;
    background-color:  #2ebaee;
    -webkit-transition: .4s ease ;
    -moz-transition: 0.4s ease ;
    -ms-transition: 0.4s ease ;
    -o-transition: 0.4s ease ;
    transition: 0.4s ease ;
  }

  .btn:hover {
    background: transparent;

  }
}

.navbar {
  padding-top: 56px;
}

//services

.services {
  padding-top: 80px;

  h2 {
    margin-bottom: 165px;
    font-size: 48px;
  }

}

.card__description {
  color: #878787;
  font-size: 14px;
  font-weight: 400;
}

.cards {
  h4 {
    margin-top: 50px;
    font-size: 24px;
    margin-bottom: 30px;
  }


}

.section__button {
  font-size: 14px;
  font-weight: 700;
  background-color: #2ebaee;
  border-radius: 40px;
  padding: 16px 23px;
  border: none;
  margin-top: 65px;
  margin-bottom: 180px;
}

.notebook {
  max-width: 800px;
}

.col-md-4 {
  button {
    margin-top: 50px;
  }
}

#tablet__btn {
  background: #ffffff;
  color: #2ebaee;
}

.tablet {
  margin-top: 150px;
  color: #ffffff;
  padding-bottom: 150px;
  p {
    color: #ffffff;
    margin-top: 48px;
  }
}

#title {
  margin-bottom: 48px;
}


.services{
  position: relative;
  height: 50%;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;

}
.services:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 200%;
  background-color: #2ebaee;  /* fallback */
  top: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

//portfolio

 .men {
   background-image: url(../img/man.png);
   background-position: center center;
   background-repeat: no-repeat;
   -webkit-background-size: cover;
   background-size: cover;
 }

 .men_desr {
   font-size: 60px;
   margin-top: 100px;
   margin-bottom: 50px;
 }

 .descr {
   max-width: 500px;
   margin-left: 50px;
   p {
     line-height: 30px;
   }
 }

 #portfolio__btn {
   margin-top: 60px;
   margin-bottom: 70px;
 }
 
 .works1 {
   background-image: url(../img/71.png);
 }

 .works2 {
   background-image: url(../img/76.png);
 }

 .works3 {
   background-image: url(../img/tumblr_n8q3q72WjE1tubinno1_1280.png);
 }
 
 .works4 {
   background-image: url(../img/tumblr_na068gQQJr1tubinno1_1280.png);
 }

 .work {
   padding: 80px 60px;
   background-color: rgba(0,0,0,0.9);
   text-align: center;
   font-size: 30px;
   font-weight: 700;
   color: #ffffff;
   transition: all 0.4s ease-in-out;
   p {
    opacity: 0;
     transition:  all 0.4s ease-in-out;
   }
 }

 .work:hover {
   background-color: rgba(46,186,238,0.8);
   p {
     opacity: 1;
   }

 }

 //about

.about__title {
  color: #2ebaee;
  font-weight: 700;
  font-size: 60px;
  margin-top: 80px;
  margin-bottom: 90px;
  max-width: 550px;

  span {
    color: #242424;
  }
}

.about {
  text-align: center;
  img {
    width: 220px;
    height: 220px;
  }

  h4 {
    color: #242424;
    font-size: 30px;

  }

  p {
    font-size: 14px;
    color: #878787;
  }

  button {
    margin-top: 25px;
    color: #ffffff;
  }
}

//footer

footer {
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 100px;
}

.footer__title {
  font-size: 60px;
  color: #ffffff;
  font-weight: 700;
}

.contact {
  p {
    color: #878787;
    font-size: 18px;
  }

  .connect {
    font-size: 30px;

    span {
      color: #2ebaee;
    }
  }
}

.social {
  display: flex;
  margin-top: 50px;
}

.twitter {
  background-color: #55acee;
  border-radius: 50%;
  background-image: url(../img/twitter.png);
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-position: center center;
}

.facebook {
  background-color: #3b5998;
  border-radius: 50%;
  background-image: url(../img/facebook.png) ;
  width: 55px;
  height: 55px;
  margin-left: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.pinterest {
  background-color: #cc2127;
  border-radius: 50%;
  background-image: url(../img/pinterest.png);
  width: 55px;
  height: 55px;
  margin-left: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.google {
  background-color: #dd4b39;
  border-radius: 50%;
  background-image: url(../img/google_plus.png);
  width: 55px;
  height: 55px;
  margin-left: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.inst {
  background-color: #e23047;
  border-radius: 50%;
  background-image: url(../img/email.png) ;
  width: 55px;
  height: 55px;
  margin-left: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

form {
  display: flex;
  flex-direction: column;
}

.form__input {
  padding: 25px 17px;
  outline: none;
  border: 1px solid #535353;
  border-radius: 3px;
  font-size: 14px;
  margin-bottom: 25px;
  background: transparent;

}

#text {
  height: 200px;
}

.input {
  color: #ffffff;
}

.bottom {
  background-color: #000;
  padding-top: 63px;
  padding-bottom: 63px;
  color: #ffffff;
}

.footer-menu {
  display: flex;
}
.footer-menu__item {
  margin-right: 20px;
}

.up_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toTOp {
  background-color: red;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: fixed;
  padding: 5px;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 999;
  text-align: center;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  animation-name: circle;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-image: url(https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-up-01-64.png);
}

@keyframes circle {
  1% {
    transform: rotate(720deg)

  }
  
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

}